Repository honeymelon-app/honeymelon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

.lintstagedrc.json:

{
  "*.{js,ts,vue,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{json,css,scss,md}": ["prettier --write"],
  "src-tauri/src/**/*.rs": ["sh -c 'cd src-tauri && cargo fmt --all'"]
}

feat: remove clipboard permissions from webview capabilities for enhanced security
  src-tauri/capabilities/default.json
Due: prettier --write

feat: enable right-click context menu for native cut/copy/paste operations
  src/main.ts
Due: eslint --fix, prettier --write

feat: add FFmpeg binary signing and entitlements for enhanced security and notarization
  .github/workflows/release.yml
  src-tauri/entitlements.plist
  src-tauri/tauri.conf.json
  src/lib/ffmpeg-plan.ts
Due: eslint --fix, prettier --write

feat: Enhance Tauri event handling and improve capability detection
  src-tauri/src/error.rs
  src-tauri/src/ffmpeg_capabilities.rs
  src-tauri/src/ffmpeg_probe.rs
  src-tauri/src/ffmpeg_runner.rs
  src-tauri/src/fs_utils.rs
  src-tauri/src/lib.rs
  src-tauri/src/license.rs
  src-tauri/src/main.rs
  src/app.vue
  src/components/AppFooter.vue
  src/components/FileDropZone.vue
  src/components/FileUploader.vue
  src/components/JobQueue.vue
  src/components/Window.vue
  src/components/ui/dialog/DialogContent.vue
  src/composables/use-app-orchestration.ts
  src/composables/use-job-orchestrator.ts
  src/composables/use-tauri-events.ts
  src/lib/capability.ts
  src/lib/constants.ts
  src/lib/ffmpeg-plan.ts
  src/lib/file-discovery.ts
  src/lib/presets.ts
  src/lib/types.ts
  src/main.ts
  src/stores/jobs.ts.backup
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

feat: Update version to 1.0.1 and enhance license verification and video encoder validation
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/package.json
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/src/ffmpeg_capabilities.rs
  src-tauri/tauri.conf.json
  src/components/AboutDialog.vue
  src/components/DestinationChooser.vue
  src/composables/use-file-handler.ts
  src/composables/use-job-orchestrator.ts
  src/lib/file-discovery.ts
  src/stores/license.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

Implement feature X to enhance user experience and fix bug Y in module Z
  package-lock.json
Due: prettier --write

chore: update dependencies
  package-lock.json
Due: prettier --write

fix: correct branch name from 'development' to 'develop' in CI configuration
  .github/workflows/ci.yml
Due: none

feat: synchronize project version to 0.0.1 across all relevant files and add version update script
  .github/workflows/release.yml
  package-lock.json
  package.json
  scripts/README.md
  scripts/update-version.js
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/components/AboutDialog.vue
Due: eslint --fix, prettier --write

feat: update version to 0.0.1 in README.md and synchronize version in related files
  README.md
  scripts/README.md
  scripts/update-version.js
Due: eslint --fix, prettier --write

feat: enhance artifact upload process with platform detection and structured JSON output
  .github/workflows/release.yml
Due: none

feat: refine release workflow by removing branch restriction and skipping pre-release builds
  .github/workflows/release.yml
Due: none

feat: enhance build process with conditional Apple credential handling for code signing and notarization
  .github/workflows/release.yml
Due: none

feat: add conditional check for missing Laravel artifact upload secrets
  .github/workflows/release.yml
Due: none

feat: remove artifact upload step from release workflow
  .github/workflows/release.yml
Due: none

chore: update release workflow for improved artifact handling
  .github/workflows/release.yml
Due: none

feat: simplify artifact handling in release workflow by removing base64 encoding
  .github/workflows/release.yml
Due: none

feat: encode artifacts JSON in base64 to prevent shell interpretation issues
  .github/workflows/release.yml
Due: none

feat: enhance artifact upload process with recursive globbing and JSON response validation
  .github/workflows/release.yml
Due: none

feat: optimize artifact upload process by using find command for file discovery
  .github/workflows/release.yml
Due: none

feat: remove recursive globbing for artifact discovery in build step
  .github/workflows/release.yml
Due: none

feat: enhance artifact upload process with improved error handling and platform detection
  .github/workflows/release.yml
Due: none

feat: enhance artifact upload process with improved platform normalization and error handling
  .github/workflows/release.yml
Due: none

feat: simplify environment variable definitions for artifact upload step
  .github/workflows/release.yml
Due: none

feat: update license key environment variable references and improve documentation
  .github/workflows/release.yml
  .github/workflows/sync-docs.yml
  CHANGELOG.md
  docs/guide/licensing.md
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/src/license.rs
  src-tauri/src/main.rs
Due: prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

fix: correct library name references in Cargo.toml and main.rs
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
Due: sh -c 'cd src-tauri && cargo fmt --all'

feat: refactor build script to enforce executable permissions and require sidecar binaries
  src-tauri/build.rs
Due: none

feat: add FFmpeg binary setup step in CI workflow
  .github/workflows/ci.yml
Due: none

fix: update FFmpeg download script name in CI workflow
  .github/workflows/ci.yml
Due: none

fix: update shell permissions and command identifiers in default.json
  src-tauri/capabilities/default.json
Due: prettier --write

fix: update FFmpeg setup script name in release workflow
  .github/workflows/release.yml
  src-tauri/build.rs
Due: none

fix: update shell permissions for FFmpeg and FFprobe in default.json
  src-tauri/capabilities/default.json
Due: prettier --write

fix: remove shell plugin configuration for FFmpeg and FFprobe
  src-tauri/tauri.conf.json
Due: prettier --write

fix: add @tauri-apps/plugin-fs dependency and update ffmpeg probe logic
  package-lock.json
  package.json
  src/lib/ffmpeg-probe.ts
Due: eslint --fix, prettier --write

fix: update upload secrets in release workflow for improved security
  .github/workflows/release.yml
Due: none

fix: update upload key and secret variable names in release workflow
  .github/workflows/release.yml
Due: none

feat: implement audio, subtitle, and video planners
  src-tauri/src/ffmpeg_runner.rs
  src-tauri/src/lib.rs
  src-tauri/src/runner/concurrency.rs
  src-tauri/src/runner/mod.rs
  src-tauri/src/runner/output_manager.rs
  src-tauri/src/runner/process_spawner.rs
  src-tauri/src/runner/progress_monitor.rs
  src-tauri/src/runner/validator.rs
  src/lib/builders/ffmpeg-args-builder.ts
  src/lib/ffmpeg-plan.ts
  src/lib/planners/audio-planner.ts
  src/lib/planners/subtitle-planner.ts
  src/lib/planners/video-planner.ts
  src/stores/job-logs.ts
  src/stores/job-progress.ts
  src/stores/job-queue.ts
  src/stores/job-state.ts
  src/stores/job-types.ts
  src/stores/jobs.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'
