Repository honeymelon-app/honeymelon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

feat: update dependencies and remove unused plugins
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  scripts/download-ffmpeg.js
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/Info.plist
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/src/license.rs
  src-tauri/src/runner/mod.rs
  src-tauri/src/runner/process_spawner.rs
  src-tauri/src/runner/progress_monitor.rs
  src-tauri/src/runner/validation_chain.rs
  src-tauri/src/runner/validator.rs
  src-tauri/tauri.conf.json
  src/components/FileDropZone.vue
  src/composables/use-app-orchestration.ts
  src/composables/use-ffmpeg.ts
  src/composables/use-file-handler.ts
  src/composables/use-job-orchestrator.ts
  src/composables/use-tauri-events.ts
  src/lib/__tests__/ffmpeg-plan.test.ts
  src/lib/ffmpeg-plan.ts
  src/lib/ffmpeg-probe.ts
  src/stores/license.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

feat: add tauri-plugin-fs for file system capabilities and update permissions in default.json
  .env.example
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
Due: prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

feat: enhance subtitle handling by refactoring withSubtitles method and updating SubtitlePlanDecision interface
  src/lib/builders/ffmpeg-args-builder.ts
  src/lib/ffmpeg-plan.ts
  src/lib/planners/subtitle-planner.ts
Due: eslint --fix, prettier --write

chore: fix dependency sync issues
  package-lock.json
Due: prettier --write

test: add unit tests for composables
  notes.md
  src/composables/__tests__/use-app-orchestration.test.ts
  src/composables/__tests__/use-colour-mode.test.ts
  src/composables/__tests__/use-file-handler.test.ts
  src/composables/__tests__/use-job-orchestrator.test.ts
  src/composables/__tests__/use-language-preferences.test.ts
  src/composables/__tests__/use-tauri-events.test.ts
Due: eslint --fix, prettier --write

docs: add notes on composable test coverage and estimation for future testing efforts
  notes.md
Due: prettier --write

refactor: update test cases to use consistent property naming and improve clarity
  src/lib/__tests__/error-handler.test.ts
  src/lib/__tests__/ffmpeg-probe.test.ts
  src/lib/builders/__tests__/ffmpeg-args-builder.test.ts
  src/lib/planners/__tests__/audio-planner.test.ts
  src/lib/planners/__tests__/subtitle-planner.test.ts
  src/lib/planners/__tests__/video-planner.test.ts
Due: eslint --fix, prettier --write

refactor: update TruffleHog OSS steps for pull request and push events
  .github/workflows/secrets-scan.yml
Due: none

refactor: improve console output for coverage and audit checks
  .github/workflows/ci.yml
Due: none

refactor: change Vitest coverage reporter to default for frontend tests
  .github/workflows/ci.yml
Due: none

chore: add size-limit and preset-app dependencies to package.json
  package-lock.json
  package.json
Due: prettier --write

chore: update @unovis/ts and @unovis/vue to version 1.6.2; update nanoid to version 5.1.5
  package-lock.json
Due: prettier --write

feat: update documentation and add API reference
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/performance.md
  .github/ISSUE_TEMPLATE/security.md
  .github/dependabot.yml
  .gitignore
  docs/.vitepress/config.ts
  docs/.vitepress/env.d.ts
  docs/adr/README.md
  docs/architecture/adr.md
  docs/development/api-reference.md
  docs/development/deployment.md
  docs/development/enhancement-plan.md
  notes.md
  package-lock.json
  package.json
  typedoc.json
Due: eslint --fix, prettier --write

fix: update links in build and roadmap documentation for consistency
  docs/development/build.md
  docs/development/roadmap.md
Due: prettier --write

docs: update architecture and guide documentation for FFmpeg integration and job orchestration
  docs/architecture/ffmpeg.md
  docs/architecture/overview.md
  docs/architecture/pipeline.md
  docs/architecture/state.md
  docs/architecture/tech-stack.md
  docs/guide/getting-started.md
  docs/guide/preferences.md
  docs/guide/troubleshooting.md
  notes.md
Due: prettier --write

docs: refine FFmpeg discovery documentation and clarify integration details
  docs/architecture/ffmpeg.md
Due: prettier --write

fix: update documentation and paths for bundled FFmpeg binaries
  CLAUDE.md
  README.md
  docs/architecture/ffmpeg.md
  docs/architecture/overview.md
  docs/development/build.md
  docs/development/claude.md
  docs/guide/getting-started.md
  docs/guide/preferences.md
  docs/guide/troubleshooting.md
  e2e/helpers/tauri.ts
  e2e/playwright.config.ts
  e2e/tests/app-launch.spec.ts
  e2e/tests/conversion-flow.spec.ts
  e2e/tests/error-handling.spec.ts
  e2e/tests/fixtures.ts
  e2e/tests/global-setup.ts
  e2e/tests/i18n.spec.ts
  e2e/tests/job-queue.spec.ts
  e2e/tests/license.spec.ts
  e2e/tests/preset-selection.spec.ts
  e2e/tests/settings.spec.ts
  scripts/README.md
  src-tauri/src/binary_resolver.rs
  src-tauri/src/ffmpeg_capabilities.rs
  src-tauri/src/ffmpeg_probe.rs
  src-tauri/src/license/verifier.rs
  src-tauri/src/runner/coordinator.rs
  src-tauri/src/runner/job_registry.rs
  src-tauri/src/services/jobs.rs
  src-tauri/src/services/mod.rs
  src-tauri/tauri.conf.json
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

feat(e2e): enhance preset selection tests and add app state management
  e2e/README.md
  e2e/helpers/media-fixtures.ts
  e2e/helpers/tauri.ts
  e2e/tauri.e2e.conf.json
  e2e/tests/app-launch.spec.ts
  e2e/tests/conversion-flow.spec.ts
  e2e/tests/error-handling.spec.ts
  e2e/tests/fixtures.ts
  e2e/tests/i18n.spec.ts
  e2e/tests/job-queue.spec.ts
  e2e/tests/license.spec.ts
  e2e/tests/preset-selection.spec.ts
  e2e/tests/settings.spec.ts
  e2e/tests/support/app-state.ts
  notes.md
  src/app.vue
  src/components/AppFooter.vue
  src/components/DestinationChooser.vue
  src/components/FileDropZone.vue
  src/components/JobQueue.vue
  src/components/JobQueueItem.vue
  src/components/JobQueueSection.vue
  src/components/LanguageSwitcher.vue
  src/components/LicenseActivationDialog.vue
  src/components/PreferencesDialog.vue
  src/components/PresetSelector.vue
  src/components/ThemeSwitcher.vue
  src/components/Window.vue
  src/composables/orchestrator/planner-client.ts
  src/composables/use-app-orchestration.ts
  src/composables/use-job-orchestrator.ts
  src/lib/capability.ts
  src/vite-env.d.ts
Due: eslint --fix, prettier --write

fix: update LICENSE_PUBLIC_KEY references to LICENSE_SIGNING_PUBLIC_KEY across the codebase
  .env.example
  .github/workflows/release.yml
  CHANGELOG.md
  docs/CHANGELOG.md
  docs/guide/licensing.md
  src-tauri/build.rs
  src-tauri/src/license/storage.rs
  src-tauri/src/license/types.rs
  src-tauri/src/license/verifier.rs
  src/components/AppFooter.vue
  src/components/JobQueueItem.vue
  src/components/JobQueueSection.vue
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

fix: streamline LICENSE_SIGNING_PUBLIC_KEY environment variable retrieval
  src-tauri/build.rs
Due: none

Update global-setup.ts
  e2e/tests/global-setup.ts
Due: eslint --fix, prettier --write

Update e2e/README.md
  e2e/README.md
Due: prettier --write

Update src-tauri/src/app_shell.rs
  src-tauri/src/app_shell.rs
Due: sh -c 'cd src-tauri && cargo fmt --all'

fix: add peer dependency flag to multiple packages in package-lock.json
  package-lock.json
Due: prettier --write

refactor: remove E2E tests and related configurations
  .github/workflows/ci.yml
  AGENTS.md
  docs/development/testing.md
  e2e/README.md
  e2e/helpers/index.ts
  e2e/helpers/media-fixtures.ts
  e2e/helpers/tauri-mocks.ts
  e2e/helpers/tauri.ts
  e2e/playwright.config.ts
  e2e/tauri.e2e.conf.json
  e2e/tests/app-launch.spec.ts
  e2e/tests/conversion-flow.spec.ts
  e2e/tests/error-handling.spec.ts
  e2e/tests/fixtures.ts
  e2e/tests/global-setup.ts
  e2e/tests/i18n.spec.ts
  e2e/tests/job-queue.spec.ts
  e2e/tests/license.spec.ts
  e2e/tests/media-browse.spec.ts
  e2e/tests/preset-selection.spec.ts
  e2e/tests/settings.spec.ts
  e2e/tests/support/app-state.ts
  e2e/tests/support/test-types.ts
  eslint.config.js
  package.json
  src-tauri/src/commands/testing.rs
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

refactor: remove Playwright E2E testing support and related configurations
  e2e/playwright.config.ts
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/app_shell.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/testing.rs
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

feat: implement online license activation and management
  docs/guide/support.md
  docs/guide/what-is-honeymelon.md
  docs/index.md
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/src/app_shell.rs
  src-tauri/src/commands/licensing.rs
  src-tauri/src/license/activation.rs
  src-tauri/src/license/mod.rs
  src-tauri/src/license/types.rs
  src-tauri/src/license/verifier.rs
  src-tauri/src/services/licensing.rs
  src/components/AboutDialog.vue
  src/components/ui/alert-dialog/AlertDialog.vue
  src/components/ui/alert-dialog/AlertDialogAction.vue
  src/components/ui/alert-dialog/AlertDialogCancel.vue
  src/components/ui/alert-dialog/AlertDialogContent.vue
  src/components/ui/alert-dialog/AlertDialogDescription.vue
  src/components/ui/alert-dialog/AlertDialogFooter.vue
  src/components/ui/alert-dialog/AlertDialogHeader.vue
  src/components/ui/alert-dialog/AlertDialogTitle.vue
  src/components/ui/alert-dialog/AlertDialogTrigger.vue
  src/components/ui/alert-dialog/index.ts
  src/components/ui/button/index.ts
  src/components/ui/separator/Separator.vue
  src/components/ui/separator/index.ts
  src/stores/license.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

feat: enhance licensing functionality and add localization support
  .env.example
  src-tauri/src/commands/licensing.rs
  src-tauri/src/services/licensing.rs
  src/app.vue
  src/assets/app-icon.png
  src/components/AboutDialog.vue
  src/components/LicenseActivationDialog.vue
  src/components/ui/visually-hidden/VisuallyHidden.vue
  src/components/ui/visually-hidden/index.ts
  src/locales/messages.ts
  src/stores/license.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

fix: clarify license terms regarding device usage and activation
  docs/legal/eula.md
Due: prettier --write

fix: update GitHub token reference in release workflow
  .github/workflows/release.yml
Due: none

feat: enhance media container support and codec handling
  docs/guide/presets.md
  docs/guide/supported-formats.md
  src/app.vue
  src/components/DestinationChooser.vue
  src/components/JobQueue.vue
  src/components/JobQueueSection.vue
  src/components/Window.vue
  src/lib/__tests__/container-rules.test.ts
  src/lib/__tests__/media-formats.test.ts
  src/lib/builders/ffmpeg-args-builder.ts
  src/lib/container-rules.ts
  src/lib/ffmpeg-plan.ts
  src/lib/media-formats.ts
  src/lib/presets.ts
  src/lib/strategies/encoder-strategy.ts
  src/lib/types.ts
Due: eslint --fix, prettier --write

feat: add custom animation keyframes and utility classes for enhanced UI effects
  src/assets/css/global.css
  src/components/DestinationChooser.vue
  src/components/FileDropZone.vue
  src/components/JobProgressBar.vue
  src/components/JobQueueItem.vue
  src/components/JobQueueSection.vue
  src/components/JobStatusBadge.vue
  src/components/LanguageSwitcher.vue
  src/components/ThemeSwitcher.vue
Due: eslint --fix, prettier --write

feat: expand format support and enhance UI animations in documentation
  CHANGELOG.md
  README.md
  docs/.vitepress/config.ts
  docs/CHANGELOG.md
  docs/architecture/overview.md
  docs/architecture/tech-stack.md
  docs/guide/what-is-honeymelon.md
  docs/index.md
Due: eslint --fix, prettier --write

feat: enhance job completion payload with detailed error handling
  docs/.vitepress/config.ts
  docs/architecture/ffmpeg.md
  docs/architecture/pipeline-internals.md
  docs/architecture/pipeline.md
  docs/changelog.md
  src-tauri/src/ffmpeg_errors.rs
  src-tauri/src/ffmpeg_probe.rs
  src-tauri/src/lib.rs
  src-tauri/src/runner/coordinator.rs
  src-tauri/src/runner/events.rs
  src-tauri/src/runner/mod.rs
  src-tauri/src/runner/output_validator.rs
  src-tauri/src/runner/progress_monitor.rs
  src-tauri/tests/ffmpeg_errors_test.rs
  src-tauri/tests/telemetry_payloads.rs
  src/components/JobQueueItem.vue
  src/composables/orchestrator/event-subscriber.ts
  src/composables/use-job-orchestrator.ts
  src/lib/error-handler.ts
  src/lib/types.ts
  src/stores/job-state.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

docs: remove outdated documentation files: QUICK_REFERENCE.md and TECHNICAL_ROADMAP.md
  COMPETITIVE_ANALYSIS.md
  EVALUATION_INDEX.md
  EXECUTIVE_SUMMARY.md
  PRODUCT_EVALUATION.md
  QUICK_REFERENCE.md
  TECHNICAL_ROADMAP.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,vue,mjs,cjs}
  prettier --write: (any of: *.{js,ts,vue,mjs,cjs}) or (any of: *.{json,css,scss,md})
  sh -c 'cd src-tauri && cargo fmt --all': any of: src-tauri/src/**/*.rs
