Repository honeymelon-app/honeymelon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

feat: implement bulk preset update functionality and enhance window behavior
  src-tauri/capabilities/default.json
  src-tauri/src/app_shell.rs
  src-tauri/tauri.conf.json
  src/app.vue
  src/components/JobQueue.vue
  src/components/JobQueueSection.vue
  src/components/PreferencesDialog.vue
  src/components/ThemeSwitcher.vue
  src/composables/__tests__/use-colour-mode.test.ts
  src/composables/use-app-orchestration.ts
  src/composables/use-colour-mode.ts
  src/composables/use-desktop-bridge.ts
  src/composables/use-tauri-events.ts
  src/locales/messages.ts
  src/stores/__tests__/jobs.test.ts
  src/stores/job-queue.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

fix: simplify devtools window handling in menu handlers
  src-tauri/src/app_shell.rs
Due: sh -c 'cd src-tauri && cargo fmt --all'

feat: refactor job status handling and introduce new media tab component
  notes.md
  src/app.vue
  src/components/AboutDialog.vue
  src/components/Controls.vue
  src/components/FileUploader.vue
  src/components/JobQueueItem.vue
  src/components/JobStatusBadge.vue
  src/components/MediaTabContent.vue
  src/components/Options.vue
  src/components/ui/tooltip-button/TooltipButton.vue
  src/components/ui/tooltip-button/index.ts
  src/composables/use-app-orchestration.ts
  src/composables/use-colour-mode.ts
  src/composables/use-file-handler.ts
  src/composables/use-job-orchestrator.ts
  src/composables/use-media-kind-filter.ts
  src/composables/use-tauri-events.ts
  src/lib/job-status-utils.ts
  src/lib/opener.ts
  src/lib/preset-utils.ts
  src/lib/runtime.ts
  src/stores/jobs.ts.backup
Due: eslint --fix, prettier --write

fix: correct numbering in new components section and adjust summary matrix formatting
  notes.md
Due: prettier --write

chore: update version to 0.1.2 and improve macOS window close handling
  .github/workflows/release.yml
  CHANGELOG.md
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/components/AboutDialog.vue
  src/composables/use-app-orchestration.ts
Due: eslint --fix, prettier --write

fix: add tabindex attribute to skip link for improved accessibility
  src/components/Window.vue
Due: eslint --fix, prettier --write

chore: update version to 0.1.3 and document changes in changelog
  CHANGELOG.md
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/components/AboutDialog.vue
Due: eslint --fix, prettier --write

feat: release version 1.0.0 with stable features and comprehensive quality gates
  CHANGELOG.md
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/components/AboutDialog.vue
  src/lib/__tests__/job-lifecycle.test.ts
  src/stores/__tests__/license.test.ts
Due: eslint --fix, prettier --write

fix: update license test cases to remove TypeScript errors
  package.json
  src/stores/__tests__/license.test.ts
Due: eslint --fix, prettier --write

fix: update npm audit step to check only production dependencies
  .github/workflows/ci.yml
Due: none

fix: update platform identifier for macOS architecture in release workflow
  .github/workflows/release.yml
Due: none

feat: transition Honeymelon to GPL-3.0-or-later license
  .github/SECURITY.md
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE
  NOTICE
  README.md
  THIRD_PARTY_NOTICES.md
  package-lock.json
  package.json
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/components/AboutDialog.vue
Due: eslint --fix, prettier --write

fix: update lodash-es to 4.17.23 to address prototype pollution vulnerability
  CHANGELOG.md
  package-lock.json
Due: prettier --write

refactor: remove licensing system and related components
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/src/app_shell.rs
  src-tauri/src/commands/licensing.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/license/activation.rs
  src-tauri/src/license/decoder.rs
  src-tauri/src/license/device_id.rs
  src-tauri/src/license/mod.rs
  src-tauri/src/license/storage.rs
  src-tauri/src/license/types.rs
  src-tauri/src/license/verifier.rs
  src-tauri/src/services/licensing.rs
  src-tauri/src/services/mod.rs
  src/app.vue
  src/components/AboutDialog.vue
  src/components/LicenseActivationDialog.vue
  src/stores/__tests__/license.test.ts
  src/stores/license.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

chore: implement code changes to enhance functionality and improve performance
  OPEN_SOURCE_GPLV3_PLAN.md
  notes.md
Due: prettier --write

chore: transition to open-source under GPL-3.0-or-later
  .env.example
  .github/workflows/release-legacy.bk
  .github/workflows/release.yml
  CHANGELOG.md
  LICENSES/FFMPEG-LGPL.txt
  README.md
  THIRD_PARTY_NOTICES.md
  scripts/README.md
  scripts/download-ffmpeg.js
  src-tauri/Cargo.lock
  src-tauri/src/ffmpeg_probe.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src/app.vue
  src/lib/ffmpeg-probe.ts
  src/lib/presets.ts
  src/lib/runtime.ts
  src/locales/messages.ts
  src/main.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

fix: patch RUSTSEC-2026-0007 bytes integer overflow
  SECURITY_AUDIT.md
  src-tauri/Cargo.lock
Due: prettier --write

chore: fix husky v10 deprecation warning
  .husky/commit-msg
Due: none

chore: remove SECURITY_AUDIT.md as part of repository transition
  SECURITY_AUDIT.md
Due: prettier --write

chore: remove pre-release validation steps from release workflow
  .github/workflows/release.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,vue,mjs,cjs}
  prettier --write: (any of: *.{js,ts,vue,mjs,cjs}) or (any of: *.{json,css,scss,md})
  sh -c 'cd src-tauri && cargo fmt --all': any of: src-tauri/src/**/*.rs
