Repository honeymelon-app/honeymelon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

.lintstagedrc.json:

{
  "*.{js,ts,vue,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{json,css,scss,md}": ["prettier --write"],
  "src-tauri/src/**/*.rs": ["sh -c 'cd src-tauri && cargo fmt --all'"]
}

feat(tests): mark ConversionResult and ErrorCategory as dead code
  src-tauri/tests/ffmpeg_pipeline.rs
Due: none

feat(tests): add script to generate test media files and enhance CI checks
  .github/workflows/ci.yml
  package.json
  scripts/generate-test-media.sh
  src-tauri/tests/ffmpeg_pipeline.rs
Due: prettier --write

chore: bump version to 0.0.2
  CHANGELOG.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: prettier --write

fix: add test media generation step to release workflow
  .github/workflows/release.yml
Due: none

fix: validate temp file instead of parent directory
  src-tauri/src/runner/progress_monitor.rs
Due: sh -c 'cd src-tauri && cargo fmt --all'

chore: bump version to 0.0.3
  CHANGELOG.md
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
Due: prettier --write

feat: update tauri configuration for security and disable devtools
  index.html
  package-lock.json
  package.json
  src-tauri/capabilities/default.json
  src-tauri/src/app_shell.rs
  src-tauri/src/ffmpeg_probe.rs
  src-tauri/src/fs_utils.rs
  src-tauri/tauri.conf.json
  src/app.vue
  src/assets/css/global.css
  src/components/AboutDialog.vue
  src/components/JobQueue.vue
  src/components/JobQueueItem.vue
  src/components/JobQueueSection.vue
  src/components/JobStatusBadge.vue
  src/composables/use-app-orchestration.ts
  src/composables/use-colour-mode.ts
  src/composables/use-file-handler.ts
  src/composables/use-language-preferences.ts
  src/lib/__tests__/capability.test.ts
  src/lib/capability.ts
  src/lib/store.ts
  src/lib/types.ts
  src/main.ts
  src/repositories/job-repository.ts
  src/services/job-service.ts
  src/stores/prefs.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

feat: update changelog with new features, changes, and fixes
  CHANGELOG.md
Due: prettier --write

docs: enhance module documentation for clarity and structure
  src-tauri/src/ffmpeg_probe.rs
Due: sh -c 'cd src-tauri && cargo fmt --all'

feat: enhance InMemoryJobRepository constructor with options for persistence and auto-loading
  src/repositories/job-repository.ts
Due: eslint --fix, prettier --write

feat: add release notes for version 0.0.4 in changelog
  CHANGELOG.md
Due: prettier --write

fix: correct variable shadowing in build_desktop_menu function
  src-tauri/src/app_shell.rs
Due: sh -c 'cd src-tauri && cargo fmt --all'

fix: refactor view menu construction to simplify debug handling
  src-tauri/src/app_shell.rs
Due: sh -c 'cd src-tauri && cargo fmt --all'

chore: update version to 0.0.4 in package.json, package-lock.json, Cargo.toml, and tauri.conf.json
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/components/JobQueueItem.vue
Due: eslint --fix, prettier --write

feat: add Apple Developer certificate import step in release workflow
  .github/workflows/release.yml
Due: none

fix: adjust condition for signing FFmpeg binaries to simplify logic
  .github/workflows/release.yml
Due: none

fix: update VitePress config for improved documentation structure
  docs/.vitepress/config.ts
Due: eslint --fix, prettier --write

chore: release 0.0.5 with localization fixes and close fallback
  CHANGELOG.md
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/components/AboutDialog.vue
  src/components/DestinationChooser.vue
  src/components/FileDropZone.vue
  src/components/JobQueue.vue
  src/components/JobQueueItem.vue
  src/components/JobQueueSection.vue
  src/composables/use-app-orchestration.ts
  src/composables/use-language-preferences.ts
  src/lib/i18n.ts
  src/locales/messages.ts
Due: eslint --fix, prettier --write

fix: update localization handling in JobQueueSection and improve language preference initialization
  src/components/JobQueueSection.vue
  src/composables/__tests__/use-language-preferences.test.ts
  src/composables/use-language-preferences.ts
Due: eslint --fix, prettier --write

fix: enhance error handling in license activation response
  src-tauri/src/license/activation.rs
  src-tauri/src/license/types.rs
Due: sh -c 'cd src-tauri && cargo fmt --all'

fix: update changelog for version 0.0.6 with improved license activation error handling
  CHANGELOG.md
Due: prettier --write

chore: update version to 0.0.6 for release
  package-lock.json
  package.json
  scripts/update-version.js
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/components/AboutDialog.vue
Due: eslint --fix, prettier --write

fix: enhance artifact upload process with improved error handling and retry logic
  .github/workflows/release.yml
Due: none

feat: implement device ID management and enhance license version validation
  src-tauri/src/license/activation.rs
  src-tauri/src/license/device_id.rs
  src-tauri/src/license/mod.rs
  src-tauri/src/license/storage.rs
  src-tauri/src/license/types.rs
  src-tauri/src/license/verifier.rs
  src-tauri/src/services/licensing.rs
  src/stores/license.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

chore: update version to 0.0.7 and enhance changelog with new features and fixes
  CHANGELOG.md
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/components/AboutDialog.vue
Due: eslint --fix, prettier --write

fix: optimize error message parsing in license activation
  src-tauri/src/license/activation.rs
Due: sh -c 'cd src-tauri && cargo fmt --all'

feat: enhance temporary file naming to preserve original extension and add tests for BMP conversion
  src-tauri/src/runner/output_manager.rs
  src/components/JobQueueItem.vue
  src/lib/planners/__tests__/video-planner.test.ts
  src/lib/planners/video-planner.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

chore: release version 0.1.0
  CHANGELOG.md
  notes.md
  package-lock.json
  package.json
  scripts/generate-test-media.sh
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/dmg-background.png
  src-tauri/tauri.conf.json
  src-tauri/tests/ffmpeg_pipeline.rs
  src/components/AboutDialog.vue
  src/composables/orchestrator/__tests__/orchestrator-clients.integration.test.ts
  src/composables/orchestrator/__tests__/planner-client.test.ts
  src/lib/__tests__/capability.test.ts
  src/lib/__tests__/ffmpeg-plan.test.ts
Due: eslint --fix, prettier --write

test: refactor tests to use tempfile for directory management
  src-tauri/src/runner/output_manager.rs
Due: sh -c 'cd src-tauri && cargo fmt --all'

refactor: documentation for preferences, presets, and troubleshooting
  docs/changelog.md
  docs/guide/batch-processing.md
  docs/guide/converting-files.md
  docs/guide/getting-started.md
  docs/guide/preferences.md
  docs/guide/presets.md
  docs/guide/support.md
  docs/guide/supported-formats.md
  docs/guide/troubleshooting.md
  notes.md
Due: prettier --write

docs: update architecture and pipeline documentation for clarity and accuracy
  docs/architecture/ffmpeg.md
  docs/architecture/overview.md
  docs/architecture/pipeline-internals.md
  docs/architecture/pipeline.md
  docs/architecture/state.md
  docs/architecture/tech-stack.md
  notes.md
Due: prettier --write

docs: update pipeline internals and Honeymelon overview for clarity and accuracy
  docs/architecture/pipeline-internals.md
  docs/guide/what-is-honeymelon.md
  docs/index.md
  notes.md
Due: prettier --write

feat: enhance menu functionality and internationalization support
  src-tauri/src/app_shell.rs
  src/composables/use-app-orchestration.ts
  src/composables/use-desktop-bridge.ts
  src/composables/use-tauri-events.ts
  src/locales/messages.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

chore: update version to 0.1.1 and enhance changelog with new features, changes, and fixes
  CHANGELOG.md
  package-lock.json
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/components/AboutDialog.vue
  src/composables/__tests__/use-app-orchestration.test.ts
Due: eslint --fix, prettier --write
