Repository honeymelon-app/honeymelon: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

.lintstagedrc.json:

{
  "*.{js,ts,vue,mjs,cjs}": ["eslint --fix", "prettier --write"],
  "*.{json,css,scss,md}": ["prettier --write"],
  "src-tauri/src/**/*.rs": ["sh -c 'cd src-tauri && cargo fmt --all'"]
}

chore: minor fixes
  scripts/download-ffmpeg.sh
  src/app.vue
Due: eslint --fix, prettier --write

chore: remove unnecessary docs and format other files and documents
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  BUILD.md
  CLAUDE.md
  COMMERCIAL_LICENSE.md
  CONTRIBUTING.md
  FFMPEG-BUNDLING.md
  LICENSE
  LICENSE_COMPLIANCE.md
  README.md
  SETUP_SUMMARY.md
  TESTING.md
  THIRD_PARTY_NOTICES.md
  e2e/README.md
  eslint.config.js
  package.json
  scripts/remove-emojis.js
  src-tauri/tauri.conf.json
  src/components/AboutDialog.vue
Due: eslint --fix, prettier --write

chore: minor UI fixes
  eslint.config.js
  src/app.vue
  src/composables/use-job-orchestrator.ts
Due: eslint --fix, prettier --write

fix: a lot of issues
  src-tauri/capabilities/default.json
  src-tauri/src/ffmpeg_capabilities.rs
  src-tauri/src/ffmpeg_probe.rs
  src-tauri/src/ffmpeg_runner.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/app.vue
  src/components/AboutDialog.vue
  src/components/JobQueueItem.vue
  src/components/PreferencesDialog.vue
  src/components/ui/drawer/Drawer.vue
  src/components/ui/drawer/DrawerClose.vue
  src/components/ui/drawer/DrawerDescription.vue
  src/components/ui/drawer/DrawerTitle.vue
  src/components/ui/drawer/DrawerTrigger.vue
  src/composables/use-job-orchestrator.ts
  src/stores/jobs.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

feat: enhance media preset selection and job orchestration logic
  src/app.vue
  src/components/JobQueueItem.vue
  src/composables/use-job-orchestrator.ts
  src/lib/__tests__/capability.test.ts
  src/lib/__tests__/ffmpeg-plan.test.ts
  src/lib/__tests__/presets.test.ts
  src/lib/capability.ts
  src/lib/ffmpeg-plan.ts
  src/lib/media-formats.ts
  src/lib/presets.ts
  src/lib/types.ts
Due: eslint --fix, prettier --write

feat: add stderr event handling and improve job progress tracking
  src-tauri/src/ffmpeg_runner.rs
  src/composables/use-job-orchestrator.ts
  src/lib/ffmpeg-plan.ts
  src/stores/jobs.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

fix: lint and biuld issues
  eslint.config.js
  src-tauri/src/lib.rs
  src/composables/use-job-orchestrator.ts
  src/lib/capability.ts
  src/lib/ffmpeg-plan.ts
  src/lib/media-formats.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

refactor: modular UI improvements
  README.md
  src-tauri/src/ffmpeg_runner.rs
  src/app.vue
  src/components/AppFooter.vue
  src/components/FileDropZone.vue
  src/components/JobProgressBar.vue
  src/components/JobQueueItem.vue
  src/components/JobQueueSection.vue
  src/components/JobStatusBadge.vue
  src/components/PresetSelector.vue
  src/components/WindowDragRegion.vue
  src/composables/use-file-handler.ts
  src/composables/use-tauri-events.ts
  src/lib/constants.ts
  src/lib/ffmpeg-plan.ts
  src/stores/jobs.ts
  src/stores/prefs.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

test: add tests and fix build issues
  src/lib/__tests__/constants.test.ts
  src/lib/__tests__/media-formats.test.ts
  src/stores/__tests__/jobs.test.ts
  src/stores/__tests__/prefs.test.ts
Due: eslint --fix, prettier --write

fix: build issues
  src-tauri/build.rs
Due: none

convert codebase from opensource to closed source
  .github/workflows/ci.yml
  .github/workflows/release.yml
  COMMERCIAL_LICENSE.md
  LICENSE
  README.md
  docs/CHANGELOG.md
  docs/CODE_OF_CONDUCT.md
  docs/development/AGENTS.md
  docs/development/CLAUDE.md
  docs/development/CONTRIBUTING.md
  docs/development/notes.md
  docs/legal/COMMERCIAL_LICENSE.md
  docs/legal/LICENSE_COMPLIANCE.md
  docs/legal/THIRD_PARTY_NOTICES.md
  notes.md
  package.json
  src-tauri/Cargo.toml
  src-tauri/rustfmt.toml
  src/app.vue
  src/app.vue.backup
  src/components/AppContainer.vue
  src/components/AppLoadingSkeleton.vue
  src/components/FileUploader.vue
  src/components/JobQueue.vue
  src/components/Window.vue
  src/components/ui/skeleton/Skeleton.vue
  src/components/ui/skeleton/index.ts
  src/composables/use-app-orchestration.ts
  src/lib/__tests__/ffmpeg-plan.test.ts
  src/lib/__tests__/presets.test.ts
  src/lib/presets.ts
Due: eslint --fix, prettier --write

feat: enhance accessibility and improve CI workflow
  .github/workflows/ci.yml
  src/app.vue
  src/components/AboutDialog.vue
  src/components/FileDropZone.vue
  src/components/JobProgressBar.vue
  src/components/JobQueueItem.vue
  src/components/JobQueueSection.vue
  src/components/PreferencesDialog.vue
  src/components/Window.vue
  src/components/ui/checkbox/Checkbox.vue
  src/components/ui/context-menu/ContextMenuCheckboxItem.vue
  src/components/ui/dialog/DialogContent.vue
  src/components/ui/dialog/DialogScrollContent.vue
  src/components/ui/dropdown-menu/DropdownMenuCheckboxItem.vue
  src/components/ui/menubar/MenubarCheckboxItem.vue
  src/components/ui/progress/Progress.vue
  src/components/ui/select/SelectItem.vue
  src/components/ui/select/SelectScrollDownButton.vue
  src/components/ui/select/SelectTrigger.vue
Due: eslint --fix, prettier --write

chore: update repository URLs and enhance documentation links
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docs/CHANGELOG.md
  docs/development/CONTRIBUTING.md
  package.json
  src-tauri/icons/app-icon.png
  src/components/JobQueueItem.vue
Due: eslint --fix, prettier --write

feat: integrate VitePress for documentation and add initial content
  .gitignore
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  docs/.vitepress/config.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/style.css
  docs/CHANGELOG.md
  docs/README.md
  docs/architecture/ffmpeg.md
  docs/architecture/overview.md
  docs/architecture/pipeline.md
  docs/architecture/state.md
  docs/architecture/tech-stack.md
  docs/development/CONTRIBUTING.md
  docs/development/building.md
  docs/development/testing.md
  docs/guide/batch-processing.md
  docs/guide/converting-files.md
  docs/guide/getting-started.md
  docs/guide/preferences.md
  docs/guide/presets.md
  docs/guide/supported-formats.md
  docs/guide/troubleshooting.md
  docs/guide/what-is-honeymelon.md
  docs/index.md
  docs/legal/commercial-license.md
  docs/legal/license-compliance.md
  docs/legal/third-party-notices.md
  docs/public/logo.svg
  eslint.config.js
  notes.md
  package-lock.json
  package.json
  src/composables/use-job-orchestrator.ts
Due: eslint --fix, prettier --write

refactor: update documentation structure and improve job progress tracking
  docs/index.md
  src/components/JobProgressBar.vue
  src/composables/use-job-orchestrator.ts
  src/stores/jobs.ts
Due: eslint --fix, prettier --write

refactor: enhance job progress tracking and logging in components
  src-tauri/src/ffmpeg_runner.rs
  src/components/JobProgressBar.vue
  src/components/ui/progress/Progress.vue
  src/composables/use-job-orchestrator.ts
  src/lib/ffmpeg-plan.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

chore: remove outdated development documentation files
  docs/development/AGENTS.md
  docs/development/CLAUDE.md
  docs/development/CONTRIBUTING.md
  docs/development/building.md
  docs/development/testing.md
Due: prettier --write

feat: add comprehensive development documentation and testing guidelines
  docs/development/agents.md
  docs/development/building.md
  docs/development/claude.md
  docs/development/contributing.md
  docs/development/testing.md
Due: prettier --write

feat: Refactor JobQueueItem component and integrate new UI elements
  package-lock.json
  package.json
  src-tauri/src/lib.rs
  src/app.vue
  src/assets/css/global.css
  src/components/Controls.vue
  src/components/FileDropZone.vue
  src/components/JobQueueItem.vue
  src/components/JobQueueSection.vue
  src/components/LanguageSwitcher.vue
  src/components/Options.vue
  src/components/ThemeSwitcher.vue
  src/components/ui/tabs/Tabs.vue
  src/components/ui/tabs/TabsContent.vue
  src/components/ui/tabs/TabsList.vue
  src/components/ui/tabs/TabsTrigger.vue
  src/components/ui/tabs/index.ts
  src/components/ui/tooltip/Tooltip.vue
  src/components/ui/tooltip/TooltipContent.vue
  src/components/ui/tooltip/TooltipProvider.vue
  src/components/ui/tooltip/TooltipTrigger.vue
  src/components/ui/tooltip/index.ts
  src/composables/use-app-orchestration.ts
  src/composables/use-colour-mode.ts
  src/composables/use-language-preferences.ts
  src/composables/use-tauri-events.ts
  src/lib/i18n.ts
  src/lib/locale.ts
  src/lib/utils.ts
  src/locales/messages.ts
  src/main.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

docs: update README for clarity and structure improvements
  .github/workflows/sync-docs.yml
  README.md
Due: prettier --write

refactor: update NotificationModule type to use NotificationPlugin
  src/composables/use-job-orchestrator.ts
Due: eslint --fix, prettier --write

feat: add deployment workflow and package configuration for VitePress documentation
  docs/.github/workflows/deploy.yml
  docs/package.json
Due: prettier --write

docs: update links in documentation for direct GitHub access
  docs/README.md
  docs/architecture/ffmpeg.md
  docs/architecture/pipeline.md
  docs/development/building.md
  docs/development/claude.md
  docs/package.json
Due: prettier --write

feat: implement license management system
  docs/guide/licensing.md
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/license.rs
  src/app.vue
  src/components/LicenseActivationDialog.vue
  src/components/ui/input/Input.vue
  src/components/ui/input/index.ts
  src/stores/license.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

feat: enhance license management with public key verification and dotenv integration
  .github/workflows/release.yml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src-tauri/src/license.rs
  src/components/LicenseActivationDialog.vue
  src/components/ui/input/Input.vue
  src/stores/license.ts
Due: eslint --fix, prettier --write, sh -c 'cd src-tauri && cargo fmt --all'

feat: enhance FileUploader and JobQueue components for improved job handling
  src-tauri/tauri.conf.json
  src/app.vue
  src/components/FileUploader.vue
  src/components/JobQueueItem.vue
  src/components/JobQueueSection.vue
Due: eslint --fix, prettier --write

feat: Update favicon and enhance styling for Honeymelon documentation
  docs/.vitepress/config.ts
  docs/.vitepress/theme/style.css
  docs/index.md
  docs/public/favicon-16x16.png
  docs/public/favicon-32x32.png
  docs/public/favicon.ico
  docs/public/favicon.svg
Due: eslint --fix, prettier --write

fix: update GitHub Pages deployment URL in workflow configuration
  docs/.github/workflows/deploy.yml
Due: none

feat: remove unused logo SVG file from public directory
  docs/public/logo.svg
Due: none

feat: add logo SVG file to public directory
  docs/public/logo.svg
Due: none

fix: update GitHub token variable in workflows for consistency
  .github/workflows/release.yml
  .github/workflows/sync-docs.yml
Due: none

feat: enhance release artifact preparation with staging directory and improved checks
  .github/workflows/release.yml
Due: none

feat: enhance release workflow with staging directory and improved artifact checks
  .github/workflows/release.yml
Due: none

feat: improve artifact preparation by dynamically locating bundle directory
  .github/workflows/release.yml
Due: none

feat: enhance checksum generation for release artifacts with error handling and deterministic output
  .github/workflows/release.yml
Due: none

docs: enhance README with additional sections and improve formatting
  README.md
Due: prettier --write

feat: streamline release workflow by removing manual triggers and enhancing artifact handling
  .github/workflows/release.yml
Due: none

feat: add paste functionality to key input for easier license activation
  src-tauri/capabilities/default.json
Due: prettier --write
